@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root {
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);
    --brown-800: hsl(14, 45%, 36%);
    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    font-family: 'Outfit', sans-serif;
    color: var(--stone-600);
    background-color: var(--stone-100);
}

main {
    max-width: 46rem;
    margin: 4rem auto;
    padding: 2rem;
    border-radius: 1.5rem;
    background-color: white;
}

img {
    width: 100%;
    border-radius: 0.6rem;
}

h1, h2 {
    font-family: 'Young Serif', serif;
}

ul, ol, li {
    padding-left: 22px;
}

ol li::marker {
    color: var(--rose-800);
    font-weight: bold;
}

/* ol {
    counter-reset: item;
}

ol li {
    display: block;
}

ol li:before {
    content: counter(item) ". ";
    counter-increment: item;
    color: var(--rose-800);
    font-weight: bold;
    padding-right: 24px;
} */

hr {
    border: 1px solid var(--stone-150);
}

table {
    width: 100%;
    text-align: left;
    font-weight: 400;
    padding-left: 2rem;
    gap: 1rem;
    border-collapse: collapse;
}

tr {
    width: inherit;
    border-bottom: 1px var(--stone-150) solid;
}

tr.last-row {
    border: none;
}

th {
    font-weight: 400;
}

th, td {
    height: 3rem;
    padding-left: 2rem;
}

td {
    color: var(--brown-800);
    font-weight: 600;
}

.prep {
    background-color: var(--rose-50);
    border-radius: 0.7rem;
    padding: 1.5rem;
}

.stone-title {
    color: var(--stone-900);
}

.brown-title {
    color: var(--brown-800);
}

.rose-title {
    color: var(--rose-800);
    font-family: 'Outfit', sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* Utilities */

.lh-1-8 {
    line-height: 1.8rem;
}

.my-1 {
    margin: 0.8rem 0;
}

.my-2 {
    margin: 1.6rem 0;
}

@media(max-width: 736px) {
    body {
        max-width: 100%;
    }

    main {
        margin: 0 auto;
        border-radius: 0;
    }

    img {
        width: 100vw;
        border-radius: 0;
        margin: -2rem;
        margin-bottom: 1.2rem;
    }
}